html {
  line-height: 1.15;
  font-family: "Helvetica Neue",sans-serif;
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;
  background-color: white;
}

.body-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.nav {
  flex: 0 0 64px;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
  border-bottom: 1px solid #d9dce0;
}

.page-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}

.drawer {
  flex: 0 0 250px;
  overflow-y: scroll;
  box-sizing: border-box;

  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #d9dce0;
}

.page {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  background-color: #f8f9fa;
}

.page-header {
  flex: 0 0 64px;
  margin: 0 40px;
  box-sizing: border-box;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #d9dce0;
}

.page-title {
  font-size: 22px;
}

.page-layout {
  overflow-y: scroll;
  padding: 20px;
}

.card {
  box-sizing: border-box;
  margin: 0 40px;
  padding: 10px;

  border: 1px solid #d9dce0;
  border-radius: 8px;
  background-color: white;
}

.card-form {
  margin: 0 auto;
  padding: 30px;
  max-width: 500px;
}

.table>:not(caption)>*>* {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
